@import url("https://fonts.cdnfonts.com/css/garant-pro");
@import url('https://fonts.cdnfonts.com/css/invisible-2');
@import url('https://fonts.cdnfonts.com/css/qanelas-soft');

:root {
  --CL-blue: rgb(83, 143, 251);
  --CL-purple-dark: rgb(69, 48, 190);
  --CL-black: rgb(0, 0, 0);
  --CL-white: rgb(255, 255, 255);

  --CL-instagram: rgb(201, 31, 158);
  --CL-whatsapp: rgb(16, 158, 42);
  --CL-facebook: rgb(70, 104, 216);

}

*,
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Qanelas Soft', sans-serif;
  transition: 0.15s;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5vh 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}



.outline {
  border: 3px solid var(--CL-purple-dark);
}

/* BACKGROUND COLORS */

.bg-facebook {
  background-color: var(--CL-facebook);
}

.bg-instagram {
  background-color: var(--CL-instagram);
}

.bg-whatsapp {
  background-color: var(--CL-whatsapp);
}

.bg-link {
  background-color: var(--CL-black);
}

/* TEXT COLORS */

.text-black {
  color: var(--CL-black);
}

.background-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--CL-black);
  mix-blend-mode: overlay;
  z-index: -100;
}

main {
  flex: 3;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -khtml-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  z-index: 100;
}

.card-header {
  background-image: url("../images/pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  border-radius: 12px 12px 0 0;
  height: 8rem;
}

.card-background {
  border-radius: inherit;
  height: 100%;
}

.card-logo {
  width: 6rem;
  height: 6rem;
  border-radius: 100rem;
}

.card-body {
  text-align: center;
  border-radius: 0 0 11px 11px;
}

.card-author {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.card-title {
  margin: 0.5rem auto;
  font-size: 1.6rem;
  font-family: "Invisible", sans-serif;
}

.card-description {
  max-width: 85%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.card-grid {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  place-items: center;
  gap: 1.2rem;
}

.link-item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 4vw 1fr 4vw;
  place-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  color: var(--CL-white);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
}

footer a{
  color: var(--CL-white);
  text-decoration: none;
  opacity: 0.5;
  margin: 0 auto;
}

/* DESKTOP VERSION */

@media (min-width: 480px) {

  .card {
    max-width: 30rem;
  }

  body {
    height: 100vh;
  }

  .link-item{
    font-size: 1rem;
  }

  .link-item:hover {
    background-color: var(--CL-purple-dark);
  }

  .link-item:active {
    background-color: var(--CL-black);
  }

  footer a:hover{
    color: var(--CL-white);
    text-decoration: none;
    opacity: 1;
    margin: 0 auto;
  }
}
